services:
  us-proxy:
    build: .
    container_name: us-proxy
    restart: unless-stopped
    ports:
      - "127.0.0.1:3000:3000"
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
